.author {
  /* Usar APENAS para assinaturas de epígrafes */
  font-style: normal;
  text-align: right;
}
.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.6;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5%;
}
.calibre1 {
  font-weight: bold;
}
.direita {
  text-align: right;
  }
.calibre2 {
  display: block;
  height: 2px;
  margin: 0.5em auto;
  border: currentColor solid 1px;
  background: currentColor;
}
.calibre3 {
  font-style: italic;
}
.calibre4 {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre5 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
}
.calibre6 {
  display: list-item;
}
.calibre7 {
  display: block;
  list-style-type: circle;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}
.calibre8 {
  text-decoration: none;
}
.calibre9 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre10 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre11 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre12 {
  display: table-row;
  vertical-align: inherit;
}
.calibre13 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  padding: 1px;
}
.calibre14 {
  height: auto;
  width: auto;
  max-width: 100%;
}
.calibre15 {
  display: block;
  text-align: center;
  margin: 1em auto;
}
.calibre16 {
  height: auto;
  width: 45%;
  max-width: 100%;
}
.calibre17 {
  display: block;
  text-align: center;
  margin: 1em auto;
  max-width: 100%;
}
.calibre18 {
  font-size: 1.125em;
  height: auto;
  line-height: 1.6;
  width: auto;
  max-width: 100%;
}
.calibre19 {
  font-size: 0.75em;
  height: auto;
  width: auto;
  max-width: 100%;
}
.calibre20 {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 1em 0;
}
.calibre21 {
  font-weight: bold;
  height: auto;
  width: auto;
  max-width: 100%;
}
.calibre22 {
  height: auto;
  width: 100%;
  max-width: 100%;
}
.calibre23 {
  font-size: 0.75em;
}
.calibre24 {
  font-size: 1em;
  line-height: 1.6;
}
.calibre25 {
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  margin: 1em 0;
}
.calibre26 {
  height: auto;
  width: 100%;
  max-width: 100%;
}
.calibre27 {
  height: auto;
  width: 100%;
  max-width: 100%;
}
.calibre28 {
  font-size: 0.75em;
  line-height: 0;
  vertical-align: sub;
}
.calibre29 {
  display: block;
  margin: 1em 0 0;
}
.calibre30 {
  display: block;
  margin: 0;
}
.calibre31 {
  font-style: italic;
  margin-left: 1em;
  min-width: max-content;
  text-align: right;
}
.calibre32 {
  display: block;
  font-size: 1em;
  height: auto;
  line-height: 1.6;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  margin: 0 5%;
}
.calibre33 {
  font-size: 1.25em;
  line-height: 1.6;
}
.calibre34 {
  font-weight: bold;
  line-height: 1.6;
}
.calibre35 {
  display: block;
  margin: 1em 0 1em 3em;
}
.calibre36 {
  display: block;
  text-indent: 1em;
  margin: 1em 0;
}
.calibre37 {
  display: block;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0;
  line-height: 1.6;
}
.calibre38 {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.6;
  padding-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 2.5em 0 2em;
  border-bottom: currentColor solid 1px;
}
.calibre39 {
  display: block;
  list-style-type: none;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
}
.calibre40 {
  display: list-item;
  margin-bottom: 1em;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.calibre41 {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.6;
  padding-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 3em 0 2em;
  border-bottom: currentColor solid 1px;
}
.calibre42 {
  display: block;
  text-align: justify;
  margin: 1em 0;
}
.calibre43 {
  display: block;
  font-weight: bold;
  margin-top: 1em;
}
.calibre44 {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
}
.calibre45 {
  display: block;
  font-size: 0.875em;
  text-align: justify;
  margin: 1em 0;
}
.calibre46 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
}
.calibre47 {
  display: list-item;
  margin-bottom: 0.75em;
}
.calibre48 {
  color: #0066EE;
  text-decoration: none;
}
.calibre49 {
  display: block;
  font-size: 0.75em;
  padding-top: 0.75em;
  text-align: center;
  margin: 2.5em 0 1em;
  border-top: currentColor solid 1px;
}
.calibre50 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre51 {
  height: auto;
  width: 100%;
  max-width: 100%;
}
.epigraph {
  display: block;
  margin: 1em;
}
.epigraph1 {
  display: block;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
  white-space: pre-wrap;
  margin: 0 0 1em;
}
.epigraph2 {
  display: block;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.6;
  white-space: pre-wrap;
  margin: 0;
}
.epigraph3 {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 1em 1em 2em;
}
.front-matter {
  display: block;
  text-align: justify;
}
.main-title {
  display: block;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.6;
  margin: 0.67em 0;
}
.metade {
  display: block;
  margin-left: 50%;
  padding-left: 10px;
  text-align: right;
}
.softbreak {
  display: block;
  page-break-before: avoid;
  text-align: center;
  margin: 0.5em 0 1em;
}
.subtitle {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.6;
  margin: 1em 0;
}
.whitespace {
  display: block;
  text-align: center;
  margin: 0;
}

/* Parágrafos de corpo com recuo */
.body-text {
  display: block;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0 0 0.5em 0;
  line-height: 1.6;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/* Primeiro parágrafo sem recuo */
.body-text-first {
  display: block;
  text-align: justify;
  text-indent: 0;
  margin: 0 0 0.5em 0;
  line-height: 1.6;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/* Parágrafos de texto com recuo */
p {
  text-align: justify;
  margin: 0.5em 0;
}

/* Primeira linha sem recuo após títulos */
.calibre37 p:first-of-type,
h1 + p,
h2 + p,
h3 + p {
  text-indent: 0;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Links com suporte a Dark Mode */
a {
  color: #0066EE;
  text-decoration: none;
}

/* Tabelas responsivas */
table {
  width: 100%;
  max-width: 100%;
}

/* Superscript com unidades relativas */
sup {
  font-size: 0.75em;
  line-height: 0;
  vertical-align: super;
}

/* Subscript com unidades relativas */
sub {
  font-size: 0.75em;
  line-height: 0;
  vertical-align: sub;
}

/* Citações e epígrafes */
blockquote,
.epigraph {
  margin: 1em 5%;
  font-style: italic;
}

/* Imagem metade (lado a lado) */
.img-metade {
  display: inline-block;
  width: 45%;
  margin: 0 2%;
  vertical-align: top;
}

/* Container para imagens lado a lado */
.img-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 1em 0;
}

.img-metade {
  width: 45%;
  height: auto;
}

/* Bibliografia com recuo francês (hanging indent) */
.bibliografia-item {
  text-align: left;
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: 1em;
}

/* Suporte para linha horizontal em Dark Mode */
hr {
  border: currentColor solid 1px;
  background: currentColor;
  height: 2px;
  margin: 0.5em auto;
}
